body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url(backgroundim.jpg);
}
.section_news{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}
.section_news::after {
    display: flex;
    content: "";
    display: block;
    width: 320px;
    height: 3px;
    margin: 40px auto 30px;
    background-color: #fff;
}

.tell{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-bottom: 50px;
}

.section{
    padding: 80px 0;
    background-color: #333;
    background-image: url(backgroundim.jpg);
}

h3{
    margin-left: 400px;
    display: flex;
    color:#fff;
}
p{
    margin-right: 50px;
    margin-left: 50px;
    color:#fff;
    text-align: center;
}
a{
    color:#fff;
}
footer{
    color:#fff;
}
.event{
    margin-left: 300px;
    margin-right: 100px;
}
.excerpt{
    margin-right: 100px;
}
.img{
    text-align: center;
}
.news{
    margin-left: 20px;
    text-align: center;
}